// Adjust the zoom center so that both the fox and the yellow line are in view.
.page__hero {
    &--overlay {
        background-position: 50% 67%;
    }
}



// Give the largest two header types more margin on top.
h1, h2 {
    margin-top: 4rem;
}



// Do not underline URLs in the service listings.
.feature__item a {
    text-decoration: none;
}



// Justify all paragraph text.
.page__content p {
    text-align: justify;
    text-justify: inter-word;
}



// Remove indentation on unordered lists.
ul {
    padding-left: 0.9rem;
}



// Increase the margin between feature items.
@media (min-width: 37.5em) {
    .feature__item { width: 30%; }
    .feature__item:nth-child(3n + 2) { margin-left: 5%; }
    .feature__item:nth-child(3n + 3) { margin-left: 5%; }
}



// Reduce the max image size for teasers, and center the images horizontally.
.archive__item .archive__item-teaser img {
    width: 25rem;

    display: block;
    margin-left:auto;
    margin-right: auto;
}



// Limit the size of images with wrap-around text.
@media (min-width: 37.5em) { .page__content p img { max-width: 50% } }



// Switch the footer color from light blue (#0092ca) to black.
.page__footer { background-color: #000; }



// Set style and margin for homepage excerpt.
.feature__item--center p {
    text-align: center;
    font-style: italic;

    margin-top: 6rem;
    margin-bottom: 8rem;
}